---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@media (min-width: 48em) {
.grid__item .archive__item-teaser {
  max-height: 180px;
}
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
